<div *ngIf="currentTab == homeTab" class="container">
    <img src="images/debtrepaymentimg.jpg" class="debt-image"/>
    <p class="text-info">Debt repayment strategies are essential for effectively managing and eliminating debt. Two popular methods are the snowball and avalanche approaches. The snowball method focuses on paying off the smallest debts first to build momentum, while the avalanche method targets debts with the highest interest rates to minimize the total interest paid over time. Both methods have their advantages: the snowball approach offers psychological wins with quicker debt eliminations, while the avalanche method is more cost-efficient in the long run. Choosing the right strategy depends on individual financial priorities and emotional preferences.</p>
    <button class="plan-button" (click)="viewPlans()">Create Plan</button>
    <button class="plan-button" (click)="currentTab = plansTab">Your Plans</button>
</div>

<div *ngIf="currentTab == createPlanTab" class="container">
    <h2>Choose Plan Type</h2>
    <button class="plan-button avalanche-button" (click)="customClick('Avalanche')">Avalanche</button>
    <button class="plan-button snowball-button" (click)="customClick('Snowball')">Snowball</button>
    <button class="plan-button custom-button" (click)="customClick('Custom')">Custom</button>
    <!-- <button class="plan-button back-button" (click)="backToStart()">Back to Start</button> -->
    <button class="plan-button back-button" (click)="currentTab = homeTab">Back</button>
</div>

<div *ngIf="currentTab == formTab" class="container">
    <h2>Create a New Debt Repayment Plan</h2>
    <form (ngSubmit)="submitPlan()">
        <div class="form-group">
            <label for="monthlyPaymentInput">Monthly Payment:</label>
            <input type="number" id="monthlyPaymentInput" [(ngModel)]="monthlyPayment" name="monthlyPayment" required />
        </div>
        <div class="form-group">
            <label for="expectedBonusInput">Expected Bonus:</label>
            <input type="number" id="expectedBonusInput" [(ngModel)]="expectedBonus" name="expectedBonus" required />
        </div>
        <div class="form-group">
            <label for="categorySelect">Category:</label>
            <select id="categorySelect" [(ngModel)]="category" name="category" (change)="onCategoryChange()" required>
                <option *ngFor="let option of categories" [value]="option">{{ option }}</option>
                <option value="Custom">Custom</option>
            </select>
            <input *ngIf="isCustomCategory" type="text" [(ngModel)]="customCategory" placeholder="Enter custom category" />
        </div>
        <div class="form-group">
            <label for="limitInput">Limit:</label>
            <input type="number" id="limitInput" [(ngModel)]="limit" name="limit" required />
        </div>
        <div class="form-group">
            <label for="amountInput">Amount:</label>
            <input type="number" id="amountInput" [(ngModel)]="amount" name="amount" required />
        </div>
        <div class="form-group">
            <label for="deadlineInput">Deadline:</label>
            <input type="date" id="deadlineInput" [(ngModel)]="deadline" name="deadline" [min]="minDate" required />
        </div>
        <div class="form-group">
            <label for="occurrenceSelect">Occurrence:</label>
            <select id="occurrenceSelect" [(ngModel)]="occurrence" name="occurrence" required>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
            </select>
        </div>
        <button type="submit" class="plan-button back-button">Submit Plan</button>
    </form>

    <button class="plan-button back-button" (click)="currentTab = createPlanTab">Back</button>
</div>

<div *ngIf="currentTab == plansTab" class="container">
    <h2>Your Plans</h2>
    <div *ngIf="customPlans.length > 0">
        <div *ngFor="let plan of customPlans; let i = index" class="plan-card">
            <h4>Plan {{ i + 1 }}</h4>
            <p>Monthly Payment: {{ plan.monthlyPayment | currency }}</p>
            <p>Expected Bonus: {{ plan.expectedBonus | currency }}</p>
            <p>Category: {{ plan.category }}</p>
            <p>Limit: {{ plan.limit | currency }}</p>
            <p>Amount: {{ plan.amount | currency }}</p>
            <p>Deadline: {{ plan.deadline | date: 'shortDate' }}</p>
            <p>Occurrence: {{ plan.occurrence }}</p>
        </div>
    </div>
    <div *ngIf="customPlans.length === 0">
        <p>No plans have been created yet.</p>
    </div>
    <button class="plan-button back-button" (click)="currentTab = homeTab">Back</button>
</div>