body, html {
    
    height: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 390px;
    height: 844px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .month {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .pie-chart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .expenses {
    width: 100%;
    text-align: center;
  }
  
  .total-expenses {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .daily-question-button {
         
        
    position: fixed;
    bottom: 10%; 
    width: 70%;
    height: 7%;
  }

.pie-chart-container {
  width: 100%;
  height: 300px; /* Adjust this value as needed */
  position: relative;
}

.pie-chart-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
