body, html {
    overflow: hidden;
    height: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 390px;
    height: 844-67px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .month {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .pie-chart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .expenses {
    width: 100%;
    text-align: center;
  }
  
  .total-expenses {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .daily-question-button {
    bottom: 10%; 
    width: 70%;
    height: 7%;
  }

.pie-chart-container {
  width: 100%;
  height: 300px; /* Adjust this value as needed */
  position: relative;
}

.pie-chart-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.question {
  text-align: left;
}

.submit-btn {
  display: flex;
} 