<div class="container">
  <div class="header">
    <i class="menu-icon"></i>
    <span>Overview</span>
    <i class="home-icon"></i>
  </div>

  <h1>October</h1>
  <div class="pie-chart-container">
    <canvas #pieChart></canvas>
  </div>
  <div class="expenses">
    <p>25% Rent</p>
    <p>25% Student Loans</p>
    <p>25% Food</p>
    <p>25% Entertainment</p>
  </div>
  <button class="daily-question-button" (click)="openQuiz()">Daily Question</button>
  <div class="modal" *ngIf="isQuizOpen">
    <div class="modal-content">
      <h1>skjdfhkjsdhk</h1>
      <button class="close-btn" (click)="closeQuiz()">Close</button>
    </div>
  </div>
</div>
