<div class="container">
  <!-- <div class="header">
    <i class="menu-icon"></i>
    <span>Overview</span>
    <i class="home-icon"></i>
  </div> -->

  <h1>December</h1>
  <div class="pie-chart-container">
    <canvas #pieChart></canvas>
  </div>
  <div class="expenses" *ngFor="let expense of expenses">
    <p>${{expense.amount}} {{expense.category}}</p>
  </div>

  <!-- Daily Questions -->
   
  <button class="daily-question-button" (click)="loadRandomQuestion()" *ngIf="!isAnswered">Daily Question</button>
  <div class="modal" *ngIf="isQuizOpen">
    <div class="modal-content">
      <h1>Daily Question</h1> 
      
      <p class="question">{{currentQuestion?.question}}</p>
    
      <div class="question" *ngFor="let option of currentQuestion?.options">
        <label>
          <input type="radio" name="option" [value]="option" [(ngModel)]="selectedOption" />
          {{ option }}
        </label>
      </div>
      <p></p> <!-- For space between the last answer choice and the submit button -->

      <div class="submit-btn">
        <button (click)="submitAnswer()" [disabled]="!selectedOption">Submit Answer</button>
      </div>
    
      <button class="close-btn" (click)="closeQuiz()">Close</button>
    </div>
  
  </div>

</div>
