<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guild Creation</title>
    <link rel="stylesheet" href="./create.component.css">
</head>

<body>
    <div class="container">


        <!-- Guild Creation Form -->
        <div class="guild-form" >
            <h2>Create/Edit New Guild</h2>
            <input type="text" placeholder="Enter Guild Name" class="guild-name-input">

            <!-- Choose Guild Flag -->
            <h3>Choose Guild Flag</h3>
            <div class="flag-options">
                <img src="https://media.discordapp.net/attachments/867118819898163232/1304724586746609774/greenflag.PNG?ex=67306ef6&is=672f1d76&hm=89dbf1d0197d00c96afb0262592e0ccc7988647ae68164d8d38a463d148515f0&=&format=webp&quality=lossless&width=158&height=185" alt="Green Flag" class="flag" >
                <img src="https://media.discordapp.net/attachments/867118819898163232/1304724586331639808/blueflag.PNG?ex=67306ef5&is=672f1d75&hm=4f6e7eb9de19b9edacf8124c9ab380fe5d905beb470056949454e502c3c44378&=&format=webp&quality=lossless&width=156&height=185" alt="Blue Flag" class="flag">
                <img src="https://media.discordapp.net/attachments/867118819898163232/1304724586025189446/pinkflag.PNG?ex=67306ef5&is=672f1d75&hm=17c33f6ae1f0f0f8a12ce4261fe677449adffb542c54c62b63c7d5f47bb1098c&=&format=webp&quality=lossless&width=156&height=185" alt="Pink Flag" class="flag">
            </div>

            <!-- Customize Flag Button -->
            <button class="customize-btn" (click)="goToCustomize()">Customize Flag</button>
<div class="footer">
            <!-- Privacy Options -->
            <div class="privacy-options" >
                <label><input type="radio" name="privacy" value="private"> Private</label>
                <label><input type="radio" name="privacy" value="public"> Public</label>
            </div>

            <!-- Action Buttons -->
            
                <div class="action-buttons">
                    <button class="back-btn" (click)="goBack()">Back</button>
                    <button class="save-btn" (click)="saveGuild()">Save</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>