.friend-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 777px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.points p {
    font-size: 18px;
    margin: 15px 0;
}

.buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.back-button,
.add-friend-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

.add-friend-button {
    background-color: #4caf50; /* Green color */
    color: white;
}

.back-button:hover,
.add-friend-button:hover {
    opacity: 0.8;
}
.darkened {
    background-color: gray; /* Change to your desired dark color */
    color: white; /* Change text color if needed */
}