/*Applied to overall*/
.letterlinks 
{
    margin-bottom: 50px;
}

/*Applied to each individual links*/
.letterlinks a 
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    margin-right: 0.5em;
}

.category
{
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
}

dt 
{
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

dd
{
    margin-left: 1em;
    margin-right: 8em;
    margin-bottom: 1em;
}