h1
{
    text-align: center;
    font-size: 3em;
}

/* Applied to overall */
.letterlinks 
{
    margin-bottom: 50px;
    margin-right: 1em;
    /* For better control and allow wrapping of links */
    display: flex;
    flex-wrap: wrap;
}

/*Applied to each individual links*/
.letterlinks a 
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

/*For letters that don't have any terms*/
.letterlinks span
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    color: #707C80;
}

.category
{
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
}

dt 
{
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

dd
{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* "Button" */
a.toplink
{
    background-color: #4CAF50; color: #FFF;
    padding: 12px;
    position: fixed; bottom: 2em; right: 2em;
}

article
{
    padding-bottom: 50px;
}