<!DOCTYPE html>
<html>
<head>
<title>Glossary</title>

</head>
<body onload="document.documentElement.style.scrollBehavior='smooth'">
    <div class="containter">

        <article id="top">
            <header>
                <h1>Glossary</h1>
            </header>

            <!--Add a button to go back to the top-->
            <a href="/glossary#top" class="toplink">Back to Top</a>

            <section class="letterlinks">
                <!-- Remove the / in between glossary and # because it'll look for a new page -->
                <a href="/glossary#A">A</a>
                <a href="/glossary#B">B</a>
                <a href="/glossary#C">C</a>
                <a href="/glossary#D">D</a>
                <a href="/glossary#E">E</a>
                <a href="/glossary#F">F</a>
                <a href="/glossary#G">G</a>
                <a href="/glossary#H">H</a>
                <a href="/glossary#I">I</a>
                <a href="/glossary#J">J</a>
                <a href="/glossary#K">K</a>
                <a href="/glossary#L">L</a>
                <a href="/glossary#M">M</a>
                <a href="/glossary#N">N</a>
                <a href="/glossary#O">O</a>
                <a href="/glossary#P">P</a>
                <a href="/glossary#Q">Q</a>
                <a href="/glossary#R">R</a>
                <a href="/glossary#S">S</a>
                <a href="/glossary#T">T</a>
                <a href="/glossary#U">U</a>
                <a href="/glossary#V">V</a>
                <a href="/glossary#W">W</a>
                <a href="/glossary#X">X</a>
                <a href="/glossary#Y">Y</a>
                <a href="/glossary#Z">Z</a>

            </section>

            <!-- Dialogue list-->
            <dl>
                <!--Jump to the first term with that letter-->
                <div class="category" id="A">A</div>
                <dt>Annual Percentage Rate</dt>
                <dd>The percentage rate cost of borrowing money on a yearly basis.</dd>

                <dt>Asset</dt>
                <dd>An item with economic value, such as stock or real estate.</dd>

                <dt>ATM Balance Inquiry Fee</dt>
                <dd>A fee you may be charged with if you call customer service to ask about 
                    your balance or if you check your prepaid card balance at an ATM.</dd>

                <dt>Automatic or Direct Debit</dt>
                <dd>A bill-paying method you set up with the merchant or service provider
                    <p>You provide the merchant or service provider with your checking account 
                        information and they take the funds from your account each time the 
                        bill is due.</p></dd>

                <!--Terms that start with B-->
                <div class="category" id="B">B</div>
                <dt>Beneficiary</dt>
                <dd>Someone who recieves the proceeds or benefits. 
                    <p>In the insurance context, it's the person, charity, trust, or estate 
                    designated by the policyhodler to recieve the policy's benefits or payments.</p></dd>
                
                <dt>Bill-payment Service</dt>
                <dd>A service you set upu with a bank, credit uniton, prepaid card account, or a business 
                    you owe money to that lets you pay bills online or through a mobile app.</dd>
                
                <dt>Bond</dt>
                <dd>A fixed income instrument that represents a loan made by an investor to a borrower.</dd>

                <dt>Budget</dt>
                <dd>Also known as a spending plan. 
                    <p>A plan that outlines what money you expect to earn or recieve (income) and how you 
                        will save or spend it (expense) for a given period of time.</p></dd>

                <dt>Buying Power</dt>
                <dd>Also known as purchasing power. 
                    <p>The amount of goods and services that can be purchased by a given unit of currency, 
                        taking into account the effect of inflation.</p></dd>

                <!--Terms that start with C-->
                <div class="category" id="C">C</div>
                <dt>Capital Gain</dt>
                <dd>The profit that comes from selling an investment for more than you paid for it.</dd>

                <dt>Capital Loss</dt>
                <dd>The oss that comes from selling an investment for less than you paid for it.</dd>
                
                <dt>Certificate of Deposit (CD)</dt>
                <dd>A financial product offered by banks and credit unions that allows individuals to 
                    deposit a fixed amount of money for a specific period of time. In return for locking 
                    their funds for the agreed-upon term, the depositor earns interest at a higher rate 
                    than what is typically offered on regular savings account. 
                    <p>If the depositor withdraws funds before the maturity date, they may incur penalties.</p>
                    <p>CDs are considered low-risk investments suitable for individuals looking to save 
                        money with a guaranteed return over a set period.</p></dd>
                
                <dt>Claim</dt>
                <dd>The insured's request for payment due to loss incurred and covered under the policy agreement.</dd>
                
                <dt>Collateral</dt>
                <dd>An asset that secures a loan or other debt that a lender can take if you don't repay the 
                    money you borrow.
                    <p>For example: if you get a home loan, the bank's collateral is typically your house.</p></dd>
                
                <dt>Compound Interest</dt>
                <dd>Amount of interest earned on a loan or deposit.</dd>

                <dt>Copayment (or copay)</dt>
                <dd>A fixed amount you pay for a covered health care service in addition to the amount your insurer pays.</dd>

                <dt>Cosigner</dt>
                <dd>An individual who signs a loan, credit amount, or promissory note of another person as support 
                    for the credit of the primary signer and who becomes responsible for the debt obligation.</dd>

                <dt>Credit Card</dt>
                <dd>An open-ended loan that allows you to borrow money up to a certain limit and carry over 
                    an unpaid balance from month to month. 
                    <p>There is not fixed time to repay the load as long as you make the minimum playment due each month. 
                        You pay interest on any outstanding credit card loan balance.</p></dd>

                <dt>Credit Card Statement</dt>
                <dd>A summary of how you've used your credit card for a billing period.</dd>

                <dt>Credit Report</dt>
                <dd>A summary of your credit activity and current credit situation, such as loan paying history and 
                    the status of your credit accounts.
                    <p>Lenders use these reports to help them decide if they will loan you money and what interest
                         rates they will offer you.</p></dd>

                <!--Terms that start with D-->
                <div class="category" id="D">D</div>
                <dt>Data Breach</dt>
                <dd>The unauthorized movement or disclosure of sensitive information to a party usually outside 
                    the organization, that is not authorized to have or see the information. 
                    <p>Someone who gets the data might use it for identity theft.</p></dd>

                <dt>Debt</dt>
                <dd>Money you own another person or a business.</dd>

                <dt>Deductible</dt>
                <dd>The amount of expenses the insured must pay before the insurance company will contribute 
                    toward the covered item.
                    <p>For example: the amount you pay for covered health care services before your 
                    insurance plan starts to pay.</p></dd>

                <dt>Direct Deposit</dt>
                <dd>Money electronically sent to you bank account, credit union account, or prepaid card.</dd>
                
                <dt>Dividend</dt>
                <dd>A payment made by a corporation to its shareholders.</dd>

                <dt>Down Payment</dt>
                <dd>Initial cash payment made when something is bought on credit, such as a home or vehicle. 
                    It reduces the amount of money that is borrowed.</dd>

                <!--Terms that start with E-->
                <div class="category" id="E">E</div>
                
                    <!--Terms that start with I-->
                <div class="category" id="I">I</div>
                <dt>Interest</dt>
                <dd>The additional money borrowers must pay when borrowing money.</dd>

                <dt>Interest Rate</dt>
                <dd>A portion of a loan that is expressed as an annual or monthly percentage of the outstanding 
                    loan amount. These are charges that are added to loan payments. 
                    <p>The percentages depends on factors such as the amount of risk and collateral. Morgates 
                        and car loans typically have lower interest rates because they can offer collateral.</p></dd>

                <!--Terms that start with L-->
                <div class="category" id="L">L</div>
                    <dt>Loan</dt>
                    <dd>A sum of money that one entity lets another entity borrow. The borrower repays their 
                    debt to the lender within a specified period and may pay interest on it. An individual 
                    typically provides a lending organization some financial information, such as credit 
                    score and employment. Lenders can sometime require collateral, in which the lender 
                    can seize the borrower's property if the borrower does not pay back the loan.</dd>

                <!--Terms starting with P-->
                <div class="category" id="P">P</div>
                <dt>Principal</dt>
                <dd>The total amount of money the lender lends to a borrower before any repayments are 
                    made.</dd>
            </dl>

        </article>
    </div>
</body>
</html>
