<!DOCTYPE html>
<html>
<head>
<title>Glossary</title>
</head>
<body>
    <div class="containter">
        <header>
            <h1>Glossary</h1>
        </header>

        <article>
            <div class="letterlinks">
                <a href="#A">A</a>
                <a href="#B">B</a>
                <a href="#C">C</a>
                <a href="#D">D</a>
                <a href="#E">E</a>
                <a href="#F">F</a>
                <a href="#G">G</a>
                <a href="#H">H</a>
                <a href="#I">I</a>
                <a href="#J">J</a>
                <a href="#K">K</a>
                <a href="#L">L</a>
                <a href="#M">M</a>
                <a href="#N">N</a>
                <a href="#O">O</a>
                <a href="#P">P</a>
                <a href="#Q">Q</a>
                <a href="#R">R</a>
                <a href="#S">S</a>
                <a href="#T">T</a>
                <a href="#U">U</a>
                <a href="#V">V</a>
                <a href="#W">W</a>
                <a href="#X">X</a>
                <a href="#Y">Y</a>
                <a href="#Z">Z</a>

            </div>

            <!-- Dialogue list-->
            <dl>
                <!--Jump to the first term with that letter-->
                <div class="category" id="A">A</div>
                <dt>Annual Interest Rate</dt>
                <dd>definition of the term</dd>

                <!--Terms that start with C-->
                <div class="category" id="C">C</div>
                <dt>Compound Interest</dt>
                <dd>Amount of interest earned on a loan or deposit.</dd>

                <!--Terms that start with I-->
                <div class="category" id="I">I</div>
                <dt>Interest</dt>
                <dd>The additional money borrowers must pay when borrowing money.</dd>

                <dt>Interest Rate</dt>
                <dd>A portion of a loan that is expressed as an annual or monthly percentage of the outstanding 
                    loan amount. These are charges that are added to loan payments. 
                    <p>The percentages depends on factors such as the amount of risk and collateral. Morgates 
                        and car loans typically have lower interest rates because they can offer collateral.</p></dd>

                <!--Terms that start with L-->
                <div class="category" id="L">L</div>
                 <dt>Loan</dt>
                 <dd>A sum of money that one entity lets another entity borrow. The borrower repays their 
                    debt to the lender within a specified period and may pay interest on it. An individual 
                    typically provides a lending organization some financial information, such as credit 
                    score and employment. Lenders can sometime require collateral, in which the lender 
                    can seize the borrower's property if the borrower does not pay back the loan.</dd>

                <!--Terms starting with P-->
                <div class="category" id="P">P</div>
                <dt>Principal</dt>
                <dd>The total amount of money the lender lends to a borrower before any repayments are 
                    made.</dd>
            </dl>

        </article>
    </div>
</body>
</html>