<!DOCTYPE html>
<html>
<head>
<title>Glossary</title>

</head>
<body onload="document.documentElement.style.scrollBehavior='smooth'">
    <div class="containter">

        <article id="top">
            <header>
                <h1>Glossary</h1>
            </header>

            <!--Add a button to go back to the top-->
            <a href="/glossary#top" class="toplink">Back to Top</a>

            <section class="letterlinks">
                <!-- Remove the / in between glossary and # because it'll look for a new page -->
                <a href="/glossary#A">A</a>
                <a href="/glossary#B">B</a>
                <a href="/glossary#C">C</a>
                <a href="/glossary#D">D</a>
                <a href="/glossary#E">E</a>
                <a href="/glossary#F">F</a>
                <a href="/glossary#G">G</a>
                <a href="/glossary#H">H</a>
                <a href="/glossary#I">I</a>
                <a href="/glossary#J">J</a>
                <a href="/glossary#K">K</a>
                <a href="/glossary#L">L</a>
                <a href="/glossary#M">M</a>
                <a href="/glossary#N">N</a>
                <a href="/glossary#O">O</a>
                <a href="/glossary#P">P</a>
                <a href="/glossary#Q">Q</a>
                <a href="/glossary#R">R</a>
                <a href="/glossary#S">S</a>
                <a href="/glossary#T">T</a>
                <a href="/glossary#U">U</a>
                <a href="/glossary#V">V</a>
                <a href="/glossary#W">W</a>
                <a href="/glossary#X">X</a>
                <a href="/glossary#Y">Y</a>
                <a href="/glossary#Z">Z</a>

            </section>

            <!-- Dialogue list-->
            <dl>
                <!--Jump to the first term with that letter-->
                <div class="category" id="A">A</div>
                <dt>Accrued Interest</dt>
                <dd>The interest that a security accumlates since the principle investment 
                    (or since the previous coupon payment). It is also interst that has built up on a loan.</dd>

                <dt>Adjusted Gross Income (AGI)</dt>
                <dd>The total income earned from wages or investments minus IRS-approved income adjustments. 
                    Used by the IRS to idenfity a person's taxible income and determine whether they qualify for 
                    certain tax deductions or credits.
                    <p>These adjustments may include interest on student loans, retirement account contributions 
                        or work expenses.</p></dd>
                
                <dt>Amortization</dt>
                <dd>Repayment schedule of a loan, or the spreading of capital expenses for intangible
                     assets over a given period.</dd>
                
                <dt>Annual Percentage Rate (APR)</dt>
                <dd>The percentage rate cost of borrowing money on a yearly basis.</dd>

                <dt>Asset</dt>
                <dd>An item with economic value, such as stock or real estate.</dd>

                <dt>ATM Balance Inquiry Fee</dt>
                <dd>A fee you may be charged with if you call customer service to ask about 
                    your balance or if you check your prepaid card balance at an ATM.</dd>

                <dt>Automatic or Direct Debit</dt>
                <dd>A bill-paying method you set up with the merchant or service provider
                    <p>You provide the merchant or service provider with your checking account 
                        information and they take the funds from your account each time the 
                        bill is due.</p></dd>

                <!--Terms that start with B-->
                <div class="category" id="B">B</div>
                <dt>Beneficiary</dt>
                <dd>Someone who recieves the proceeds or benefits. 
                    <p>In the insurance context, it's the person, charity, trust, or estate 
                    designated by the policyhodler to recieve the policy's benefits or payments.</p></dd>
                
                <dt>Bill-payment Service</dt>
                <dd>A service you set upu with a bank, credit uniton, prepaid card account, or a business 
                    you owe money to that lets you pay bills online or through a mobile app.</dd>
                
                <dt>Bond</dt>
                <dd>A fixed income instrument that represents a loan made by an investor to a borrower.</dd>

                <dt>Bounced Check</dt>
                <dd>A check that can't be used because the account holder has non-sufficient funds (NFS) available 
                    for payment. Banks charge the check writers NSF fees.</dd>
                
                <dt>Budget</dt>
                <dd>Also known as a spending plan. 
                    <p>A plan that outlines what money you expect to earn or recieve (income) and how you 
                        will save or spend it (expense) for a given period of time.</p></dd>

                <dt>Buying Power</dt>
                <dd>Also known as purchasing power. 
                    <p>The amount of goods and services that can be purchased by a given unit of currency, 
                        taking into account the effect of inflation.</p></dd>

                <!--Terms that start with C-->
                <div class="category" id="C">C</div>
                <dt>Capital Gain</dt>
                <dd>The profit that comes from selling an investment for more than you paid for it.</dd>

                <dt>Capital Loss</dt>
                <dd>The oss that comes from selling an investment for less than you paid for it.</dd>
                
                <dt>Certificate of Deposit (CD)</dt>
                <dd>A financial product offered by banks and credit unions that allows individuals to 
                    deposit a fixed amount of money for a specific period of time. In return for locking 
                    their funds for the agreed-upon term, the depositor earns interest at a higher rate 
                    than what is typically offered on regular savings account. 
                    <p>If the depositor withdraws funds before the maturity date, they may incur penalties.</p>
                    <p>CDs are considered low-risk investments suitable for individuals looking to save 
                        money with a guaranteed return over a set period.</p></dd>
                
                <dt>Checking Account</dt>
                <dd>An account designed to provide quick access to your funds for daily transactional needs, 
                    such as paying bills or buying products.</dd>

                <dt>Claim</dt>
                <dd>The insured's request for payment due to loss incurred and covered under the policy agreement.</dd>
                
                <dt>Collateral</dt>
                <dd>An asset that secures a loan or other debt that a lender can take if you don't repay the 
                    money you borrow.
                    <p>For example: if you get a home loan, the bank's collateral is typically your house.</p></dd>
                
                <dt>Compound Interest</dt>
                <dd>Amount of interest earned on a loan or deposit accumulated over time.</dd>

                <dt>Copayment (or copay)</dt>
                <dd>A fixed amount you pay for a covered health care service in addition to the amount your insurer pays.</dd>

                <dt>Cosigner</dt>
                <dd>An individual who signs a loan, credit amount, or promissory note of another person as support 
                    for the credit of the primary signer and who becomes responsible for the debt obligation.</dd>

                <dt>Credit</dt>
                <dd>A contractual agreement in which a lender lends money to a borrower, understanding that the borrower 
                    intendds to repay it later. This help builds the borrowers trustworthiness.</dd>
                
                <dt>Credit Card</dt>
                <dd>An open-ended loan that allows you to borrow money up to a certain limit and carry over 
                    an unpaid balance from month to month. 
                    <p>There is not fixed time to repay the load as long as you make the minimum playment due each month. 
                        You pay interest on any outstanding credit card loan balance.</p></dd>

                <dt>Credit Card Statement</dt>
                <dd>A summary of how you've used your credit card for a billing period.</dd>

                <dt>Credit Limit</dt>
                <dd>Maximum amount you can charge a revolving credit account (like a credit card).</dd>
                
                <dt>Credit Report</dt>
                <dd>A summary of your credit activity and current credit situation, such as loan paying history and 
                    the status of your credit accounts.
                    <p>Lenders use these reports to help them decide if they will loan you money and what interest
                         rates they will offer you.</p></dd>

                <dt>Credit Score</dt>
                <dd>A reflection of a person's creditworthiness and how likely they are to pay back their debts on time. 
                    <p>Used in lending decisions. The higher the credit score, the better.</p></dd>

                <!--Terms that start with D-->
                <div class="category" id="D">D</div>
                <dt>Data Breach</dt>
                <dd>The unauthorized movement or disclosure of sensitive information to a party usually outside 
                    the organization, that is not authorized to have or see the information. 
                    <p>Someone who gets the data might use it for identity theft.</p></dd>

                <dt>Debit Card</dt>
                <dd>A card that lets you access the cash in your checking card. Swipe your card through a machine 
                    and enter in your peronal identification number (PIN) to transfer cash from your acount to the vendor.</dd>

                <dt>Debt</dt>
                <dd>Money you own another person or a business.</dd>

                <dt>Deductible</dt>
                <dd>The amount of expenses the insured must pay before the insurance company will contribute 
                    toward the covered item.
                    <p>For example: the amount you pay for covered health care services before your 
                    insurance plan starts to pay.</p></dd>

                <dt>Direct Deposit</dt>
                <dd>Electronic trasnfer of funds from a payer's bank account, credit union account, or prepaid card 
                    or a recipient's account.</dd>
                
                <dt>Dividend</dt>
                <dd>A payment made by a corporation to its shareholders.</dd>

                <dt>Down Payment</dt>
                <dd>Initial cash payment made when something is bought on credit, such as a home or vehicle. 
                    It reduces the amount of money that is borrowed.</dd>

                <!--Terms that start with E-->
                <div class="category" id="E">E</div>
                <dt>Earned Income</dt>
                <dd>Money made from working for someone who pays you for from running a business or farm. 
                    <p>This includes all income, wages, and tips you get from working.</p></dd>

                <dt>Emergency Fund</dt>
                <dd>A cash reserve that's specifically set aside for unplanned expenses or financial emergencies. 
                    <p>Some common examples include car repairs, home repairs, medical bills, or a loss of income. 
                        It is recommended to save at least 3 to 6 months worth of essential expenses.</p></dd>
                
                <!--Terms that start with F-->
                <div class="category" id="F">F</div>
                <dt>Federal Income Tax</dt>
                <dd>The federal government collects taxes based on the earnings of individuals and businesses 
                    (income tax). This pays for national programs such as defense, foreign affairs, law 
                    enforcement, and interest on the national debt.</dd>

                <dt>Federal Insurance Contributions Act (FICA)</dt>
                <dd>A law that requires taxes to be deducted from your pay to contribute to Social Security 
                    and Medicare. Your employer contributes the same amount on your behalf.</dd>

                <dt>Finanial Aid</dt>
                <dd>Money given in the form of grants, work-study, loans, and scholarships to help pay for 
                    post-secondary tuition and fees, as well as related exepnses such as room and board.</dd>
                
                <!--Terms that start with G-->
                <div class="category" id="G">G</div>
                <dt>Grace Period</dt>
                <dd>The number of days you have to pay your bill in full before finance charges start.</dd>

                <dt>Grant</dt>
                <dd>A type of financial aid that does not need to be repaid, unless you withdraw from school.
                     Often need-based.</dd>

                <dt>Gross Income</dt>
                <dd>Total pay before taxes and other deductions are taken out.</dd>

                <!--Terms starting with H-->
                <div class="category" id="H">H</div>
                <dt>Homeowner's Insurance</dt>
                <dd>Covers a home's structure and personal belongings inside in the event of loss or theft.
                     Helps pay for repairs and replacement.</dd>

                <!--Terms that start with I-->
                <div class="category" id="I">I</div>
                <dt>Inactivity Fee</dt>
                <dd>A fee charged if you don't use your card for a certain period of time. 
                    Length of time varies. Not all prepaid cards charge inactivity fees.</dd>

                <dt>Income</dt>
                <dd>Amount of money an entity earns for selling goods and services or from investments.</dd>
                
                <dt>Income Tax</dt>
                <dd>Federal, state, and local taxes on income, both earned and uneared (interest, dividents).</dd>
                
                <dt>Insurance</dt>
                <dd>The practice or arrangement in which a company or government agency provides a guarantee 
                    of compensation for specified loss, damage, illness, or death in return for payment of a premium.</dd>
                
                <dt>Interest</dt>
                <dd>The additional money borrowers must pay when borrowing money.</dd>

                <dt>Interest Rate</dt>
                <dd>A portion of a loan that is expressed as an annual or monthly percentage of the outstanding 
                    loan amount. These are charges that are added to loan payments. 
                    <p>The percentages depends on factors such as the amount of risk and collateral. Morgates 
                        and car loans typically have lower interest rates because they can offer collateral.</p></dd>

                <dt>Invest</dt>
                <dd>To commit money to earn a financial return.</dd>

                <!--Terms that start with L-->
                <div class="category" id="L">L</div>
                <dt>Liability</dt>
                <dd>A debt or amount of money that an entity owes to another entity. 
                    <p>Current liabilities are due within a year, while non-current liabilities are more long term, 
                        such as mortgages and leases.</p></dd>
                
                <dt>Liquidity</dt>
                <dd>A measure of the ability and ease with which you can access and use your money.</dd>
                
                <dt>Loan</dt>
                <dd>A sum of money that one entity lets another entity borrow. The borrower repays their 
                debt to the lender within a specified period and may pay interest on it. 
                <p>An individual typically provides a lending organization some financial information, such 
                as credit score and employment. Lenders can sometime require collateral, in which the lender 
                can seize the borrower's property if the borrower does not pay back the loan.</p></dd>

                <!--Terms starting with M-->
                <div class="category" id="M">M</div>
                <dt>Maturity Date</dt>
                <dd>The date that an investor's investment is to be paid back in full in accordance with its agreement. 
                    <p>A certificate of deposit (CD) contains a maturity date provision obligating the 
                        financial institution to repay an investory sums invested plus interest on a specified date.</p></dd>

                <dt>Mortgage</dt>
                <dd>A type of loan that is used to buy a home or to borrow money againt the value of a home you already own.</dd>

                <dt>Mutual Fund</dt>
                <dd>A financial instrument that combines money form many investors to purchase stocks, bonds, and other 
                    securities. Investors buy shares of the mutual fund and are entitled to a portion of the income it generates.</dd>
                
                <!--Terms starting with N-->
                <div class="category" id="N">N</div>
                <dt>Net Income</dt>
                <dd>Amount of money you recieve in your paycheck after taxes and other deductions are taken out. 
                    <p>Also known as take-home pay.</p></dd>

                <dt>Net Worth</dt>
                <dd>The market value of an individual's total assets minus their total liabilities.</dd>
                
                <!--Terms starting with O-->
                <div class="category" id="O">O</div>
                <dt>Out-of-Pocket Cost</dt>
                <dd>The expenses and losses that are not reimbursed by insurance. It's the amount paid before 
                    insurance coverage kicks in.</dd>

                <dt>Overdraft</dt>
                <dd>Occurs when you don't have enough money in your account to cover a transaction, but the
                     bank pays the transaction anyway.</dd>
                
                <!--Terms starting with P-->
                <div class="category" id="P">P</div>
                <dt>Pay Period</dt>
                <dd>The amount of time that an employee works before being paid.</dd>

                <dt>Payroll Tax</dt>
                <dd>Taxes taken from your paycheck, including Social Security and Medicare taxes.</dd>

                <dt>Personal Idenficiation Number (PIN)</dt>
                <dd>A numerical code issued with a payment card to complete an electronic transaction. It 
                    adds additional security to the electronic transaction process.</dd>

                <dt>Principal</dt>
                <dd>The total amount of money the lender lends to a borrower before any repayments are 
                    made.</dd>

                <dt>Property Tax</dt>
                <dd>Taxes on property, especially real estate. Can also be on boats, automobiles 
                    (often paid along with license fees), recreational vehicles, and business inventories.</dd>

                <!--Terms starting with R-->
                <div class="category" id="R">R</div>
                <dt>Routing Number</dt>
                <dd>A unique, 9-digit number that identifies your financial institution.</dd>

                <!--Terms starting with S-->
                <div class="category" id="S">S</div>
                <dt>Salary</dt>
                <dd>Compensation recieved by an employee for services performed. A fixed sum paid 
                    for a specific period of time worked, such as weekly or monthly.</dd>
            
                <dt>Savings Account</dt>
                <dd>Money kept in a bank or other financial institution, with some earned interest. 
                    These funds are held for future use.</dd>

                <dt>Secured Loans</dt>
                <dd>Loans in which your property (a thing you own) is used as collateral.</dd>

                <dt>Share</dt>
                <dd>A unit of ownership, often in a company's stock or in a mutual fund.</dd>

                <dt>Stock</dt>
                <dd>A type of investment that gives people a share of ownership in a company. Also known as equity</dd>

                <dt>Subscription</dt>
                <dd>An agreement that you make with a company where you pay in advance to get a publication
                     or service regularly.</dd>

                <!--Terms starting with T-->
                <div class="category" id="T">T</div>
                <dt>Tariff</dt>
                <dd>A tax on products imported from foreign countries.</dd>

                <dt>Tax Credit</dt>
                <dd>A dollar-for-dollar reduction in a tax. It can be deducted directly from taxes owed. 
                    <p>Tax credits can reduce the amount of tax you owe or increase your tax refund. 
                        Some credits may result in a refund even if you don't owe any taxes.</p></dd>

                <dt>Tax Refund</dt>
                <dd>Money owed to taxpayers when their total tax payment is greater than the total tax. 
                    <p>Refunds are received from the government.</p></dd>

                <dt>Taxes</dt>
                <dd>Required payments of money to governments, which use the funds to provide public 
                    goods and services for the benefit of the community as a whole.</dd>

                <dt>Transaction Fee</dt>
                <dd>A fee charged everytime you use the card for a certain type of transaction.</dd>

                <!--Terms starting with V-->
                <div class="category" id="V">V</div>
                <dt>Variable Expenses</dt>
                <dd>Expenses that change in amount from month to month.</dd>

                <!--Terms starting with W-->
                <div class="category" id="W">W</div>
                <dt>Wage</dt>
                <dd>Compensation received by employees for services performed. Usually computed by
                     multiplying an hourly pay rate by the number of hours worked.</dd>

                <dt>Wire Transfer</dt>
                <dd>Electronically transferring funds to another person, either domenstically or internationally.</dd>

                <dt>Withholding</dt>
                <dd>Also known as "pay-as-you-earn" taxes. 
                    <p>Money that employers withold from employees' paychecks. This money is deposited 
                        for the government and is credited against the employees tax liability when 
                        they file their returns. Employers withhold money for federal income taxes, 
                        Social Security and Medicare taxes, and state and local income taxes in some 
                        states and localities.</p></dd>
            </dl>

        </article>
    </div>
</body>
</html>
