.home-btn{
    font-size: 37px;
    background-color: transparent;
    border: none;
}
.open-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.page {
    margin-top: 65px;
    box-sizing: border-box;
}

.header-buttons {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
}

.open-btn, .home-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;

    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-btn {
    margin-left: auto;
    padding: 0 0;
    margin-left: 70%;
}


.open-btn:hover, .home-btn:hover {
    background-color: lightgray;
    transform: translateX(5px);
}


.open-btn:active, .home-btn:active {
    background-color: gray;
}


.home-icon {
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    margin-top: -13px;
    vertical-align: middle;
}