.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -285px;
  /* Hidden by default */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: left 0.3s;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidenav.open {
  left: 0;
  /* Show the sidebar */
}

.close-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

button {
  display: block;
}

.login-page .sidenav {
  display: none; /* Hide the sidebar on the login page */
}

.hidden {
  display: none; /* Hide the sidebar */
}
