<div class="sidenav" [class.open]="isOpen" [class.hidden]="isLoginPage">
    <button class="close-btn" (click)="toggleSidebar()">×</button>
    <div class="sidenav-content">
        <button (click)="navigateToOverview()">Overview</button>
        <button (click)="navigateToSettings()">Profile</button>
        <button (click)="navigateToGoals()">Goals</button>
        <button (click)="navigateToNews()">News</button>
        <button (click)="navigateToGlossary()">Glossary</button>
        <button (click)="navigateToDebtRepayment()">Debt Repayment Plan</button>
        <button (click)="navigateToTransactions()">Transactions</button>
        <button (click)="navigateToFriends()">Friends</button>
        <button (click)="navigateToGuildStart()">New Guild</button>
    <button (click)="navigateToViewGuild()">My Guild</button>
    </div>
    
    
    
</div>