<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Find</title>
    <link rel="stylesheet" href="friendlist.component.css">
</head>

<body>
    <div class="container">
        <div class="list-container">
            <ul class="friend-list">
                <li *ngFor="let friend of filteredFriends" class="friend-item">
                    <button (click)="goToProfile(friend)" class="friend-button">
                        <span class="rank">{{ friend.rank }}</span>
                        <div class="profile-pic"></div>
                        <div class="friend-info">
                            <span class="name">{{ friend.name }}</span>
                            <span class="points">{{ " " + friend.points }} points</span>

                        </div>
                    </button>
                </li>
            </ul>
        </div>

        <footer class="footer">
            <button class="back-btn" (click)="goBack()">Back</button>
        </footer>
    </div>
</body>

</html>