<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Icon Selector</title>
    <link rel="stylesheet" href="./flagcreator.component.css">
</head>

<body>

    <div class="container">
        <!-- Icon Selection Section -->

        <div class="section">
            <h1 style="text-align: center;">Flag Creator</h1>
            
            <div class="action-buttons top">
                <button class="guild-button" (click)="showIcons = true">Show Icons</button>
                <button class="guild-button" (click)="showIcons = false">Show Colors</button>
            </div>

            <div *ngIf="showIcons" class="icon-section-content">
                <h2>Select an Icon</h2>
                <div class="icon-grid" style="padding-bottom: 60%;">
                    <button class="icon" (click)="selectIcon(1)" [ngClass]="{'selected': selectedIconId === 1}" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image.png" alt="Icon 1">
                    </button>
                    <button class="icon" (click)="selectIcon(2)" [ngClass]="{'selected': selectedIconId === 2}" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image2.png" alt="Icon 2">
                    </button>
                    <button class="icon" (click)="selectIcon(3)" [ngClass]="{'selected': selectedIconId === 3}" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image3.png" alt="Icon 3">
                    </button>
                    <button class="icon" (click)="selectIcon(4)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image4.png" alt="Icon 4">
                    </button>
                    <button class="icon" (click)="selectIcon(5)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image5.png" alt="Icon 5">
                    </button>
                    <button class="icon" (click)="selectIcon(6)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image6.png" alt="Icon 6">
                    </button>
                    <button class="icon" (click)="selectIcon(7)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image7.png" alt="Icon 7">
                    </button>
                    <button class="icon" (click)="selectIcon(8)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image8.png" alt="Icon 8">
                    </button>
                    <button class="icon" (click)="selectIcon(9)" [style.filter]="'hue-rotate(' + selectedColor + ')'">
                        <img src="/images/iconart/image9.png" alt="Icon 9">
                    </button>
                </div>
                <div class="action-buttons colors">
                    <button class="back-btn" (click)="goBack()">Back</button>
                    <button class="save-btn" (click)="saveFlag()">Save</button>
                </div>
            </div>

            <div *ngIf="!showIcons" class="color-section-container">
                <div class="color-section">
                    <h2>Select a Color</h2>
                    <div class="color-picker-container" style="padding-bottom: 50%;">
                        <input [(colorPicker)]="selectedColor" [style.background]="selectedColor"
                            class="color-picker" />
                    </div>
                    <div class="opacity-slider"style="padding-bottom: 20%;">
                        <label>Opacity</label>
                        <input type="range" min="0" max="100" [(ngModel)]="opacityValue">
                        <span>{{ opacityValue }}</span>
                    </div>

                    <div class="color-palette">
                        <!-- <div class="color-swatch" [style.background]="selectedColor"></div> -->
                        <div class="color-options">
                            <span style="background-color: black;" (click)="selectColor('#000000')"></span>
                            <span style="background-color: blue;" (click)="selectColor('#0000FF')"></span>
                            <span style="background-color: green;" (click)="selectColor('#008000')"></span>
                            <span style="background-color: yellow;" (click)="selectColor('#FFFF00')"></span>
                            <span style="background-color: red;" (click)="selectColor('#FF0000')"></span>
                            <!-- Add more colors as needed -->
                        </div>
                    </div>
                </div>
                <div class="action-buttons">
                    <button class="back-btn" (click)="goBack()">Back</button>
                    <button class="save-btn" (click)="saveFlag()">Save</button>
                </div>
            </div>
            
        </div>

        <!-- Color Selection Section -->

    </div>
    <script src="script.js"></script>
</body>

</html>