<div class="guild-container">

    <div class="icon-display" *ngIf="selectedIconId" style="position: relative; display: inline-block;">
        <!-- <img 
            [src]="getSelectedIconUrl()" 
            alt="Selected Icon" 
            [style.width.px]="161" 
            [style.height.px]="161" 
            [style.filter]="'drop-shadow(0 0 0 ' + selectedColor + ')'" />
        <div 
            class="color-overlay" 
            [style.backgroundColor]="selectedColor" 
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.5;">
        </div> -->
    </div>

    <div class="guild-details"style = "padding-top: 30%;">
        <div class="image" >
            <img [src]="getSelectedIconUrl()" alt="Selected Icon" [style.backgroundColor]="selectedColor" width="250" height="250">
        </div>
    </div>  
    <h2 *ngIf="guildName">{{ guildName }}</h2>

    <div class = "button-container">
        <button class="guild-button" (click)="goToLeaderboard()">View Leaderboard</button>
        <button class="guild-button" (click)="editGuildSettings()">Edit Guild Settings</button>
        <button class="guild-button" (click)="inviteFriends()">Invite Friends</button>
    </div>
</div>